*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(128, 128, 128, 0.37);
}
main{
    display: grid;
    grid-template-columns: 18% 82%;
}
nav{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 40vh;
    height: 100vh;

}
nav>h3{
    padding-top: 40px;
    padding-left: 10px;
}
h2{
    padding-top: 20px;
    padding-left: 10px;
    grid-column: span 2;
}
section{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 80px 100px;
    height: 100vh;
    margin-left: 20px;
}

section >article{
    width: 270px;
    height: 230px;
    margin-top: 30px;
    margin-left: 5px;
    padding: 30px 55px;
    border-radius: 10px;
    background-color: white;
    border: 2px solid white;

}
.fa-file-invoice{
    font-size: 30px;
    margin-left: 60px;
    padding: 15px 5px;
    color: blue;
    background-color: rgb(192, 228, 245);
    border-radius: 50%;
}
.fa-money-bills{
    font-size: 20px;
    margin-left: 60px;
    padding-top: 15px;
    padding-bottom: 24px;
    padding-left: 5px;
    color: green;
    background-color: rgba(0, 128, 0, 0.233);
    border-radius: 50%;
}
.fa-people-arrows{
    font-size: 30px;
    margin-left: 60px;
    padding: 15px 5px;
    color: rgb(88, 187, 245);
    background-color: rgb(192, 242, 245);
    border-radius: 50%;
}
article>p{
    padding-top: 10px;
    font-size: 15px;
}
article>h3{
    text-align: center;
}

section>#btn1{
    padding: 10px 10px;
    border-radius: 10px;
    justify-content: end;
    margin: 20px;
    margin-left: 114px;
    background-color: blue;
    color:white;
    border-color: blue;
}
#btn2{
    padding: 10px 15px;
    border-radius: 10px;
    margin: 20px 30px;
    color: blue;
    border-color: blue;
}
#btn3{
    padding: 10px 15px;
    border-radius: 10px;
    margin: 20px 30px;
    color: green;
    border-color: green;
}
#btn4{
    padding: 10px 15px;
    border-radius: 10px;
    margin: 20px 30px;
    color:rgb(88, 187, 245);
    border-color:rgb(88, 187, 245) ;
}